@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.lightMode {
  background-color: white;
  color: #111827;
  transition: 0.5s;
}
.darkMode {
  background-color: transparent;
  color: #e2e8f0;
  transition: 0.5s;
}
.flex-gap {
  display: flex;
  align-items: center;
  gap: 12px;
}
.transition-transform {
  transition-property: transform;
}

.transform {
  transform: translateX(-100%);
}

.animated:hover {
  animation: spin 8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.shake:hover {
  animation: shake 1s ease-in-out;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
}
