@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.lightMode {
  background-color: #f9fafb;
  color: #111827;
}
.darkMode {
  background-color: #1e293b;
  color: #e2e8f0;
}
.flex-gap {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* styles.css or your component's styles */
.animated:hover {
  animation: spin 8s linear infinite; /* Adjust the animation duration and timing function as needed */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.shake:hover {
  animation: shake 1s ease-in-out; /* Adjust the animation duration and timing function as needed */
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
}
